*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blanco: #FFFFFF;
    --negro: #1E1E24;
    --azul: #00BFFF;
    --naranja: #FF6F20;
    --verde: #39FF14;
    --rosa: #FF1493;
}
body{
    margin: 0;
    background-color: #101010;
    font-family: "Press Start 2P", serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background: url(img/fondo_inicio.jpg);
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
}
.nav{
    position: fixed;
    z-index: 20;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}
.nav.activo{
    background-color: #000;
}
.logo{
    margin-left: 15px;
    color: var(--blanco);
    font-size: 20px;
}
.logo b{
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul), 0 0 25px var(--azul);
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    width: 200px;
    height: 30px;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--blanco);
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li:hover{
    border: 1.8px solid var(--blanco);
    box-shadow: inset 0 0 15px var(--azul), 0 0 15px var(--azul);
    border-radius: 10px;
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul);
    cursor: pointer;
}
.checkbtn{
    color: var(--blanco);
    font-size: 30px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}



.inicio{
    color: var(--blanco);
    padding-top: 300px;
    text-align: center;
}
.inicio h1{
    font-size: 60px;
}
.inicio b{
    text-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00FFFF, 0 0 20px #00BFFF, 0 0 25px #00BFFF;
}
.inicio h3{
    margin-top: 25px;
    font-size: 25px;
}
.inicio p{
    margin-top: 30px;
}
.links{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    font-size: 35px;
}
.links a{
    margin: 25px;
    color: var(--blanco);
}
.links a:hover{
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul);
}
.sobre{
    height: 650px;
    display: flex;
    margin: 50px;
    padding-top: 90px;
} 
.texto{
    margin-top: 0;
}
.texto h1{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;
    color: var(--blanco);
    border: 1.5px solid var(--blanco);
    border-radius: 20px;
    text-shadow: 0 0 5px var(--naranja), 0 0 10px var(--naranja), 0 0 15px var(--naranja), 0 0 20px var(--naranja);
    box-shadow: inset 0 0 10px var(--naranja), 0 0 10px var(--naranja);
}
.texto h1 i{
    font-size: 45px;
    margin-right: 25px;
}
.texto p{
    width: 90%;
    margin-top: 30px;
    text-align: justify;
    color: var(--blanco);
}
.sobre div{
    margin-top: 50px;
}
.sobre div img{
    margin-right: 20px;
    margin-top: 50px;
    width: 300px;
}
.educacion{
    padding: 100px 15px;
    background-color: #0A0A0A;
    overflow-x: hidden;
}
.titulo{
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.titulo h1{
    color: var(--blanco);
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;
    border: 1.5px solid var(--blanco);
    border-radius: 20px;
    text-shadow: 0 0 5px var(--verde), 0 0 10px var(--verde), 0 0 15px var(--verde), 0 0 20px var(--verde);
    box-shadow: inset 0 0 10px var(--verde), 0 0 10px var(--verde);
}
.titulo h1 i{
    font-size: 45px;
    margin-right: 25px;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--blanco);
    box-shadow: 0 0 10px var(--verde);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}  
.timeline-dot{
    background-color: var(--blanco);
    color: var(--blanco);
    box-shadow: 0 0 10px var(--verde);
    height: 21px;
    width: 21px;
    border: 1.5px solid var(--blanco);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: lightgray;
    margin: 6px 0 15px;
}
.timeline-content{
    font-family: "Cairo", serif;
    border: 3px solid var(--blanco);
    padding: 30px 50px;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--verde);
}
.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: var(--blanco);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.proyectos{
    height: 100vh;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.proyectos h1{
    margin-top: 130px;
    margin-bottom: 60px;
    width: 450px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;
    color: var(--blanco);
    border: 1.5px solid var(--blanco);
    border-radius: 20px;
    text-shadow: 0 0 5px var(--rosa), 0 0 10px var(--rosa), 0 0 15px var(--rosa), 0 0 20px var(--rosa);
    box-shadow: inset 0 0 10px var(--rosa), 0 0 10px var(--rosa);
}
.proyectos h1 i{
    font-size: 45px;
    margin-right: 25px;
}
.paneles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.panel{
    background-color: #030303;
    color: var(--blanco);
    width: 600px;
    height: 700px;
    border: 1.5px solid var(--blanco);
    border-radius: 10px;
    box-shadow: 0 0 10px #8d8d8d;
    transition: all 0.5s ease;
}
.panel img{
    margin: 10px 1px 5px 10px;
    width: 97%;
}
.panel h2{
    width: 300px;
    height: 30px;
    margin: 20px 150px ;
    text-shadow: 0 0 5px #8d8d8d, 0 0 10px #8d8d8d, 0 0 15px #8d8d8d;
    border-bottom: 1.5px solid var(--blanco);
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
}
.panel p{
    height: 70px;
    font-family: "Cairo", serif;
    margin: 20px 40px;
    text-align: justify;
}
.panel h3{
    width: 350px;
    height: 30px;
    margin: 20px 40px ;
    text-shadow: 0 0 5px #8d8d8d, 0 0 10px #8d8d8d, 0 0 15px #8d8d8d;
    border-bottom: 1.5px solid var(--blanco);
    transition: all 0.5s ease;
}
.add{
    font-size: 40px;
    margin: 20px 40px ;
}
.panel ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.panel ul li{
    display: flex;
    margin: 20px 40px;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 1.5px solid var(--blanco);
}
.panel ul li a{
    width: 100%;
    text-decoration: none;
    margin-top: 10px;
    color: var(--blanco);
}
.panel:hover{
    box-shadow: inset 0 0 15px var(--rosa), 0 0 15px var(--rosa);
    border-radius: 10px;
    text-shadow: 0 0 5px #8d8d8d, 0 0 10px #8d8d8d, 0 0 15px #8d8d8d, 0 0 20px #8d8d8d;
    transform: scale(1.05);
}
.panel:hover h2, .panel:hover h3{
    text-shadow: 0 0 5px var(--rosa), 0 0 10px var(--rosa), 0 0 15px var(--rosa), 0 0 20px var(--rosa);
    border-bottom: 2px solid var(--rosa);
}
.panel ul li:hover{
    box-shadow: inset 0 0 15px var(--rosa), 0 0 15px var(--rosa);
    text-shadow: 0 0 5px var(--rosa), 0 0 10px var(--rosa), 0 0 15px var(--rosa), 0 0 20px var(--rosa);
    transform: scale(1.1);
}
.habilidades {
    width: 100%;
    height: 100vh;
    background: url(img/pixeles.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 20px; 
}
.habilidades h1{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;
    margin-top: 120px;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 20px;
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul);
    box-shadow: inset 0 0 15px var(--azul), 0 0 15px var(--azul);
}
.habilidades h1 i{
    font-size: 45px;
    margin-right: 25px;
}
.skills{
    margin-top: 40px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills ul li{
    position: relative;
    width: 500px;
    height: 130px;
    background: #030303;
    list-style: none;
    border: 1.5px solid var(--blanco);
    box-shadow: inset 0 0 15px var(--azul), 0 0 15px var(--azul);
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    transition: all 0.2s ease;
}
.skills ul li i{
    color: var(--blanco);
    font-size: 45px;
    transition: text-shadow 0.2s ease;
    margin-bottom: 5px;
}
.skills p{
    color: var(--blanco);
    transition: text-shadow 0.2s ease;
}
.skills ul li:hover{
    transform: scale(1.03);
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul);
}
.skills ul li:hover box-icon {
    text-shadow: 0 0 5px var(--azul), 0 0 10px var(--azul), 0 0 15px var(--azul), 0 0 20px var(--azul);
}
.contacto{
    width: 100%;
    height: 88vh;
    background: url(img/formulario.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 20px; 
}
.contacto form{
    width: 800px;
    height: 80vh;
    margin: 150px;
    color: var(--blanco);
    background-color: #000;
    border: 2px solid var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 15px var(--naranja), 0 0 15px var(--naranja);
}
.contacto form h1{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 35px;
    margin-top: 40px;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 20px;
    text-shadow: 0 0 5px var(--naranja), 0 0 10px var(--naranja), 0 0 15px var(--naranja), 0 0 20px var(--naranja);
    box-shadow: inset 0 0 15px var(--naranja), 0 0 15px var(--naranja);
}
.contacto form h1 i{
    font-size: 45px;
    margin-right: 25px;
}
.input{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}
.input label{
    font-size: 20px;
    margin: 10px 0px;
}
.formu{
    font-family: "Cairo", serif;
    padding: 1px 15px;
    width: 100%;
    height: 30px;
    border: 2px solid var(--naranja);
    border-radius: 15px;
    box-shadow: inset 0 0 10px var(--blanco), 0 0 10px var(--blanco);
    transition: all 0.5s ease;
}
.input textarea{
    font-family: "Cairo", serif;
    width: 100%;
    height: 100px;
    padding: 1px 15px;
    margin-bottom: 15px;
    border: 2px solid var(--naranja);
    border-radius: 15px;
    box-shadow: inset 0 0 10px var(--blanco), 0 0 10px var(--blanco);
    transition: all 0.5s ease;
}
.btn{
    width: 160px;
    height: 40px;
    margin: 5px 280px;
    background-color: #000;
    border: 2px solid var(--blanco);
    color: var(--blanco);
    font-family: "Press Start 2P", serif;
    transition: all 0.2s ease;
}
.btn:hover{
    text-shadow: 0 0 5px var(--naranja), 0 0 10px var(--naranja), 0 0 15px var(--naranja), 0 0 20px var(--naranja);
    box-shadow: inset 0 0 15px var(--naranja), 0 0 15px var(--naranja);
    cursor: pointer;
    transform: scale(1.1);
}
.formu:hover, .input textarea:hover{
    transform: scale(1.01);
}



@media (max-width:500px) {
    header{
        width: 103%;
        height: auto;
        min-height: 100vh;
    }
    .nav{
        width: 100%;
    }
    .logo{
        margin-left: 5px;
        font-size: 8px;
    }
    .checkbtn{
        display: block;
        z-index: 100;
    }
    .menu{
        position: fixed;
        display: flex;
        justify-content: center;
        width: 450px;
        background: #000;
        border: 1.5px solid var(--blanco);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        box-shadow: 0 0 15px var(--azul);
    }
    .menu li a{
        font-size: 8px;
    }
    .inicio{
        width: 100%;
    }
    .inicio h1{
        font-size: 25px;
    }
    .inicio h3{
        font-size: 10px;
    }
    .inicio p{
        padding: 0px 40px;
        font-size: 8px;
    }
    .links{
        margin-top: -5px;
        font-size: 20px;
    }
    .sobre{
        height: 150vh;
        display: flex;
        flex-direction: column;
    }
    .texto h1{
        font-size: 20px;
        width: 250px;
        margin-top: -150px;
    }
    .texto h1 i{
        font-size: 30px;
    }
    .texto p{
        margin-left: -15px;
        margin-top: 40px;
        width: 430px;
        font-size: 10px;
    }
    .sobre div img{
        width: 280px;
        margin-top: -60px;
        margin-left: 40px;
    }
    .educacion{
        width: 103%;
    }
    .titulo{
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .timeline-item::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .timeline-items{
        margin-left: 30px;
    }
    .timeline-content{
        background: #0A0A0A;
        width: 90%;
    }
    .proyectos{
        width: 100%;
        height: 170vh;
        margin: 15px;
    }
    .proyectos h1{
        width: 300px;
        font-size: 20px;
        margin-right: 30px;
    }
    .paneles{
        display: flex;
        flex-direction: column;
    }
    .panel{
        width: 450px;
        height: 600px;
    }
    .panel img{
        width: 95%;
    }
    .panel h2{
        margin-left: 80px;
    }
    .habilidades{
        width: 103%;
        height: auto;
        min-height: 100vh;
    }
    .habilidades h1{
        width: 400px;
        height: 80px;
        font-size: 25px;
    }
    .habilidades h1 i{
        font-size: 40px;
    }
    .skills ul li{
        width: 400px;
        height: 80px;
        margin-left: 30px;
    }
    .skills ul li i{
        font-size: 25px;

    }
    .contacto{
        width: 103%;
        height: auto;
        min-height: 100vh;
        margin-top: -190px;
    }
    .contacto form{
        width: 380px;
    }
    .contacto form h1{
        width: 350px;
        font-size: 25px;
    }
    .contacto form h1 i{
        font-size: 30px;
    }
    .btn{
        margin-left: 100px;
    }
    #check:checked ~ ul{
        left: 5%;
        z-index: 100;
    }
}

@media(min-width:500px) and (max-width:800px){
    header{
        width: 143%;
        height: 100vh;
    }
    .checkbtn{
        display: block;
        z-index: 100;
    }
    .menu{
        position: fixed;
        display: flex;
        justify-content: center;
        width: 750px;
        background: #000;
        border: 1.5px solid var(--blanco);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        box-shadow: 0 0 15px var(--azul);
    }
    #check:checked ~ ul{
        left: 5%;
        z-index: 100;
    }
    .menu li a{
        font-size: 12px;
    }
    .inicio{
        width: 100%;
    }
    .inicio h1{
        font-size: 30px;
    }
    .inicio h3{
        font-size: 20px;
        margin-top: 60px;
    }
    .inicio p{
        padding: 30px 40px;
        font-size: 15px;
    }
    .sobre{
        width: 100%;
    }
    .texto{
        width: 800px;
    }
    .texto p{
        font-size: 15px;
    }
    .sobre div img{
        width: 300px;
        margin-top: 120px;
        margin-left: -50px;
    }
    .educacion{
        width: 100%;
    }
    .timeline-item::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .timeline-items{
        margin-left: 30px;
    }
    .timeline-content{
        background: #0A0A0A;
        width: 90%;
    }
    .proyectos{
        width: 147%;
    }
    .proyectos h1{
        margin-right: 170px;
    }
    .paneles{
        margin: 50px;
    }
    .panel{
        width: 450px;
        height: 600px;
    }
}
/* nav{
    background-color: #080708;
    width: 100%;
    height: 90px;
    position: static;
    display: flex;
    color: var(--blanco);
}
nav h1{
    margin-left: 15%;
    margin-top: 1%;
    font-size: 45px;
}
nav h1 b{
    color: var(--blanco);
    text-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00FFFF, 0 0 20px #00BFFF, 0 0 25px #00BFFF;
}
nav ul{
    list-style: none;
    display: flex;
    margin-top: 1.5%;
    margin-left: 180px;
}
nav ul li{
    margin-left: 20px;
    height: 35px;

}
nav ul li a{
    color: var(--blanco);
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 30px;
}
nav ul li:hover{
    border: 1.5px solid var(--blanco);
    box-shadow: inset 0 0 10px #00BFFF, 0 0 10px #00BFFF;
    border-radius: 10px;
    color: var(--azul);
    text-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00FFFF, 0 0 20px #00BFFF;
    transform: scale(1.05);
}
.inicio img{
    width: 1700px;
} */

