*{
    margin: 5px;
    padding: 5px;
}
body{
    background: white;
    font-family: arial;
    font-size: 16px;;
}
.contenedor{
    width: 1220px;
    margin: 15px auto;
    overflow: hidden;
}
header{
    background: #ed7d31;
    border: 2px solid #d77330;
}
header nav{
    width: 100%;
    text-align: right;
}
header nav ul{
    width: 99%;
    overflow: hidden;
    list-style: none;
}
header nav ul li{
    float: right;
    margin-right: 10px;
}
header nav ul li a{
    text-decoration: none;
    display: inline;
    padding: 20px 70px;
    background: #5b9bd5;
    border: 2px solid #62809e;
    color: white;
    justify-content: center;
    margin: 0px 15px;  
}
header nav ul li a:hover{
    background: #62809e;
    color: black;
}

.romeo{
    width: 1200px;
    height: 500px;
    background: #5b9bd5;
    border: 2px solid #62809e;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
}
.romeo nav{
    width: 920px;
    height: 450px;
    background: #ed7d31;
    border: 2px solid white;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}
.romeo nav p{
    width: 100%;
    text-align: center; 
    color: white;
}
.romeo aside{
    width: 200px;
    height: 450px;
    background: #ed7d31;
    border: 2px solid white;
    margin: 15px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.romeo aside div[class="1"]{
    width: 160px;
    height: 40px;
    background: #5b9bd5;
    color: white;
    border: 2px solid #62809e;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.romeo aside div[class="1"] a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;

}
.romeo aside  div[class="2"]{
    width: 160px;
    height: 145px;
    background: #5b9bd5;
    border: 2px solid #62809e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.romeo aside div[class="3"]{
    width: 160px;
    height: 165px;
    background: #5b9bd5;
    border: 2px solid #62809e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.romeo aside div h3{
    margin-top: 10px;
    color: white;
}
.romeo aside div ul{
    margin-top: 0px;
    color: white;
}
.romeo aside div ul li a{
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0.001px; 
    text-decoration: none;
    color: white;
    margin: 0px 5px;
    border-bottom: 2px solid white;
}
.romeo aside div[class="1"]:hover{
    background: #62809e;
    color: black;
}
.romeo aside div[class="1"] a:hover{
    background: #62809e;
    color: black;
}
.romeo aside div ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
}
footer{
    background-color: #5b9bd5;
    border: 2px solid #62809e;
    width: 1200px;
    text-align: center;
    font-size: 18px;
    color: white;
}